<div class="modal" [ngStyle]="{display: isOpen ? 'block' : 'none'}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label class="mb-1">Name</label>
                    <input type="text" [(ngModel)]="userObj.fullName" class="form-control mb-3" placeholder="Name"
                        name="fullName">
                    <label class="mb-1">Email</label>
                    <input type="text" [(ngModel)]="userObj.emailId" class="form-control mb-3" placeholder="Email"
                        name="emailId">
                    <label class="mb-1">Phone</label>
                    <input type="text" [(ngModel)]="userObj.mobileNo" class="form-control mb-3" placeholder="Phone"
                        name="mobileNo">
                    <label class="mb-1">Password</label>
                    <input type="password" [(ngModel)]="userObj.password" class="form-control mb-3"
                        placeholder="Password" name="password">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="userObj.userId?onEditUser():onAddUser()">{{userObj.userId?'Update':'Add'}} changes</button>
            </div>
        </div>
    </div>
</div>
@if (isOpen) {
<div class="modal-backdrop fade show"></div>
}