<div class="m-4">
    <button class="btn btn-primary" (click)="open({})">Add New User</button>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>S.no.</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users();track user.id){
        <tr>
            <td>{{$index + 1}}</td>
            <td>{{user.userId}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.emailId}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.password}}</td>
            <td class="d-flex gap-2">
                <button class="btn btn-primary" (click)="open(user)">Edit</button>
                <button class="btn btn-danger" (click)="onDeleteUser(user.userId)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<app-add-user-modal #addUserModal (getUsers)="getUsers()"></app-add-user-modal>